.resources_section > h3 {
    color: #636363;
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
}

.resources_section > h3 > span{
    color: red;
}

.eWjCzc {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 0.9em !important;
    background-color: rgb(26 100 182) !important;
    color: #f9fafb !important;
    /* box-shadow: 0 0 2px 0px #333; */
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 14px !important;
    height: 32px !important;
    min-width: 37px !important;
    line-height: 32px !important;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}

.eAyARa {
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 0.9em !important;
    background-color: rgb(26 100 182) !important;
    color: #f9fafb !important;
    /* box-shadow: 0 0 2px 0px #333; */
    border-radius: 50%;
    border: none;
    padding: 0;
    width: 14px !important;
    height: 32px !important;
    min-width: 37px !important;
    line-height: 32px !important;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    cursor: pointer;
    outline: none;
}

// .eAyARa {
//     box-sizing: border-box;
//     -webkit-transition: all 0.3s ease;
//     transition: all 0.3s ease;
//     font-size: 1em !important;
//     background-color: #103b7c !important;
//     color: #f8f9fa !important;
//     // / box-shadow: 0 0 2px 0px #333; /
//     border-radius: 50%;
//     border: none;
//     padding: 0;
//     width: 35px !important;
//     height: 25px !important;
//     min-width: 25px !important;
//     line-height: 15px !important;
//     -webkit-align-self: center;
//     -ms-flex-item-align: center;
//     align-self: center;
//     cursor: pointer;
//     outline: none;
// }

// .eWjCzc{
//     box-sizing: border-box;
//     -webkit-transition: all 0.3s ease;
//     transition: all 0.3s ease;
//     font-size: 1em !important;
//     background-color: #103b7c !important;
//     color: #f8f9fa !important;
//     // / box-shadow: 0 0 2px 0px #333; /
//     border-radius: 50%;
//     border: none;
//     padding: 0;
//     width: 35px !important;
//     height: 25px !important;
//     min-width: 25px !important;
//     line-height: 15px !important;
//     -webkit-align-self: center;
//     -ms-flex-item-align: center;
//     align-self: center;
//     cursor: pointer;
//     outline: none;
// }

.kdCslO{
    display: none !important;
}