.productBoxes{
    /* margin: 16px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.productBox{
    margin: 16px;
}

.product_card{
    display: flex;
    justify-content: space-between;
    width: 23rem;
    background: white;
    padding: 25px;
}

.product_image{
    width: 90px;
    height: 90px;
    padding: 5px;
    margin: -1px;
    padding-right: 5px;
    margin-right: 19px;
}

.product_content{
    font-size: 11px;
    color: gray;
}

.card_icon{
    text-align: end;
    font-size: 19px;
}


@media(max-width:419px){
    .product_card {
        display: flex;
        justify-content: space-between;
        width: 83vw;
        background: white;
        padding: 25px;
    }
}