.slider {
    position: relative;
}

.container-content {
    font-size: 18px;
    left: 28%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.slider_slide{
    overflow: hidden;
    width: 100%;
    position: relative;
    outline: none;
}

.content {
    // overflow: hidden;
    // width: 100%;
    // position: relative;
    // outline: none;
}

.slider-image {
    min-height: 250px;
    object-fit: cover;
}

.carousel-caption {
    text-align: left !important;
    left: 34% !important;
}

.carousel-caption > h2 {
    font-size: 35px;
}

.carousel-caption > h1 {
    font-size: 77px;
}

.carousel-caption > p {
    font-size: 22px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end !important;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

// .slider_btn{
//     font-size: 52px;
// }

.carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 6px !important;
        height: 6px !important;
        border-radius: 50%;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
    }

    .scroller {
        z-index: 1;
        width: 100%;
        position: absolute;
        margin-top: -23px;
        text-align: center;
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    .carousel-control-next-icon{
        display: none !important;
    }

    .carousel-control-prev-icon{
        display: none !important;
    }

    

@media(max-width:1812px){
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: -3.75rem !important;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        width: fit-content;
    }

    .carousel-caption > h2 {
        font-size: 20px;
    }

    .carousel-caption > h1 {
        font-size: 47px;
    }

    .carousel-caption > p {
        font-size: 18px;
    }

    // .slider_btn{
    //     font-size: 14px;
    // }
}

@media(max-width:768px){
    .carousel-caption > h2 {
        font-size: 17px;
    }

    .carousel-caption > h1 {
        font-size: 22px;
    }

    .carousel-caption > p {
        font-size: 13px;
    }

    .carousel-caption > button{
        padding: 4px;
        font-size: 12px;
    }

    // .carousel-caption.slider_btn {
    //     font-size: 13px;
    //     padding: 3px;
    // }

    // .carousel-caption.slider_btn{
    //     font-size: 11px;
    // }
}





// .banner{
//     margin-bottom: 91px;
// }

// a.carousel-control-prev{
//     display: none;
// }

// a.carousel-control-next{
//     display: none;
// }

// .carousel-caption {
    /* position: absolute;
    right: 17%;
    bottom: 5.25rem;
    left: 15%;
    /* padding-top: 1.25rem; */
    /* padding-bottom: 1.25rem; */
    /* text-align: left !important;
    color: #fff;
    line-height: 0px; */

//     position: absolute;
//     right: 15%;
//     bottom: 12.25rem !important;
//     left: 15%;
//     padding-top: 1.25rem;
//     padding-bottom: 1.25rem;
//     color: #fffefe;
//     text-align: left !important;
// }

// .carousel-caption > h1{
//     font-size: 71px;
// }

// .carousel-caption > h2 {
//     font-size: 35px;   
// }

// .carousel-caption > p {
//     font-size: 22px;
// }

// .carousel-indicators {
//     display: grid !important;
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 2;
//     display: flex;
//     justify-content: flex-end !important;
//     padding: 0;
//     margin-right: 15%;
//     margin-bottom: 1rem;
//     margin-left: 15%;
//     list-style: none;
// }

// .carousel-indicators [data-bs-target] {
//     box-sizing: content-box;
//     flex: 0 1 auto;
//     width: 6px !important;
//     height: 6px !important;
//     border-radius: 50%;
//     padding: 0;
//     margin-right: 3px;
//     margin-left: 3px;
//     text-indent: -999px;
//     cursor: pointer;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 0;
//     border-top: 10px solid transparent;
//     border-bottom: 10px solid transparent;
//     opacity: .5;
//     transition: opacity .6s ease;
// }

// .container-check{
//     margin-top: 0px;
//     margin-bottom: 0px;
// }


// .btn {
//     display: inline-block;
//     font-weight: 400;
//     line-height: 1;
//     color: #212529;
//     text-align: center;
//     text-decoration: none;
//     vertical-align: middle;
//     cursor: pointer;
//     -webkit-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     border-radius: 0.25rem;
//     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }

// .scroller{
//     z-index: 1;
//     width: 100%;
//     position: absolute;
//     margin-top: -23px;
//     text-align: center;
//     display: flex;
//     /* align-items: center; */
//     justify-content: center;
// }

// @media(max-width:768px){
    // .container-check{
    //     margin-top: 160px;
    // }

    // .carousel-caption {
    //     margin-bottom: -78px;
    //     position: absolute;
    //     right: 15%;
    //     bottom: 1.25rem;
    //     left: 15%;
    //     padding-top: 1.25rem;
    //     padding-bottom: 1.25rem;
    //     color: #fff;
    //     text-align: center;
    // }

    // .carousel-caption > h2{
    //     font-size: 22px;
    //     margin-bottom: -15px;
    // }
    
    // .carousel-caption > h1{
    //     font-size: 32px;
    // }

    // .carousel-caption {
    //     position: absolute;
    //     right: 15%;
    //     bottom: 1.25rem;
    //     left: 15%;
    //     padding-top: 1.25rem;
    //     padding-bottom: 1.25rem;
    //     color: #fff;
    //     text-align: center;
    //     margin-bottom: -166px;
    // }

//     .carousel-caption{
//         position: absolute;
//         right: 15%;
//         bottom: 1.25rem;
//         left: 15%;
//         padding-top: 1.25rem;
//         padding-bottom: 1.25rem;
//         color: #fff;
//         text-align: center;
//         margin-bottom: -181px;
//         line-height: 1px;
//     }
// }

// @media(max-width:425px){

//     .carousel-caption{
//         position: absolute;
//         right: 15%;
//         bottom: 1.25rem;
//         left: 15%;
//         padding-top: 1.25rem;
//         padding-bottom: 1.25rem;
//         color: #fff;
//         text-align: center;
//         margin-bottom: -181px;
//         line-height: 1px;
//     }

//     .scroller {
//         z-index: 1;
//         width: 100%;
//         position: absolute;
//         margin-top: -23px;
//         text-align: center;
//         display: flex;
//         /* align-items: center; */
//         justify-content: center;
//         height: 50px;
//     }

    // .carousel-caption {
    //     position: absolute;
    //     right: 15%;
    //     bottom: 1.25rem;
    //     left: 15%;
    //     padding-top: -0.75rem;
    //     margin-top: 0px;
    //     padding-bottom: 6.25rem;
    //     color: #fff;
    //     text-align: center;
    // }

    // .carousel-caption > h1 {
    //     font-size: 35px;
    // }

    // .carousel-caption > h2 {
    //     font-size: 16px;
    //     line-height: 1px;
    // }

    // Recent ------------

    // .carousel-caption > button {
    //     color: #f8f9fa;
    //     border-color: #f8f9fa;
    //     padding: 1px;
    // }

//     .carousel-caption > h1 {
//         font-size: 22px;
//         /* padding-top: 0px; */
//         margin-top: -9px;
//     }

//     .carousel-caption > h2 {
//         font-size: 10px;
//     }

//     .carousel-caption > p {
//         margin-top: -6px;
//         font-size: 11px;
//         margin-bottom: 4px;
//     }

//     .carousel-caption > button {
//         color: #f8f9fa;
//         border-color: #f8f9fa;
//         padding: 1px;
//         font-size: 11px;
//     }
// }